//
   Created by gaozy on 8/14/17.
.container
    br
    .theme-showcase
        div.jumbotron
            h2 Welcome to Programmable Global Name Service
            p(style="font-size: 23px") Programmable Global Name Service (PGNS) is a managed DNS service that uses key-value store as the core.
                | PGNS is a scalable, geo-distributed, federated global name service for any Internetwork
                | with intrinsic support for programmablity.
        .page-header
            h3 PGNS
        p(style="font-size: 18px") PGNS is a managed DNS Service running on GNS key-value store as the backend.
            | PGNS is a scalable, geo-distributed, federated global name server for any Internetwork
            | with intrinsic support for high mobility. The geo-distribution is essential to the latency and
            | availability. At the core of PGNS is a placement engine that achieves the latency, cost and
            | availability goals by adapting the number and locations of replicas of each name record in
            | accordance with the lookup and update request rates for a name, the geo-distribution of
            | requests for the name and the aggregate request load across all the names.

        p(style="font-size: 16px") Click <a href="/register"> here </a> to create an account with us.