extends ../template/simple

block content
  .container
    h1 Register Page
    p.lead Welcome to ActiveGNS
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      span(style="padding:1%")
        button.btn.btn-default(type='submit') Submit
      span(style="padding:1%")
        a(href='/')
          button.btn.btn-primary(type="button") Cancel

    h5 The username will be the name of your subdomain.