extends ../template/simple

block content
  .container
    table
      tr
        td
          form(method="post")#register-form.well
            h2 Welcome!
            h6 Please register your account.
            hr
            .form-group
              label Name
              input.form-control#name-register(type='text', name='name', placeholder='Enter Your Name')
              //p longer than 3 characters
            .form-group
              label Email
              input.form-control#email-register(type='text', name='email', placeholder='Enter Email Address')
              //p a valid email address
            .form-group
              label Username
              input.form-control#username-register(type='text', name="user", placeholder='Enter Username')
            .form-group
              label Password
              input.form-control#pwd-register(type='password', name="pass", placeholder='Password')
              //p longer than 6 characters
            .form-buttons
            button.btn.btn-primary.button-sign-in#register-form-btn1(class='btnstyle', type='submit')
              span().glyphicon
              | Create
            button.btn.btn-default#register-form-btn2(class='btnstyle', type="button")
              span()
              | Cancel
            .clearfix
        td
          img(class="center fit", src="images/activepns.jpg", style="padding: 5px")

  include ../modals/form-errors
  include ../modals/alert

block scripts
  //script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js')
  //script(type="text/javascript", src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src='/vendor/jquery-2.2.3.min.js')
  script(src='/vendor/jquery.form.min.js')
  script(src='/vendor/bootstrap.min.js')
  script(src='/js/views/register.js')
  script(src='/js/controllers/registerController.js')
  script(src='/js/form-validators/registerValidator.js')