//
   Created by gaozy on 12/16/16.

extends layout

block content
    .container
        div(class="nav")
            ul
                li(style="float:right")
                    a(href="/register") Register
                li(style="float:right")
                    a(href="/login") Login
                li(class="ddown")
                    a(href="#" class="dropbtn") Document
                    div(class="ddown-content")
                        a(href="#") About ActiveGNS
                        a(href="#") How-To Guide
                        a(href="#") API Reference
        h1 Getting started
            hr
            br
        p.
            DNS serves as the “phone book” for the Internet: it maps domain names like activegns.org,
            | to a numeric Internet Protocol (IP) addresses like 52.37.209.19.