extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      div(class="right")
        a(href="/logout",) Logout
      br
      p.h4 You are currently logged in as #{user.username}.
      h4 The subdomain "#{user.username}.activegns.org" has been assigned to you, you can create your A record and define your own policy on it
      h6
      hr
      div
        div(class="navigation")
          p.h4(align="left") Documents
          ul.h5(href="/") doc1
          ul.h5(href="/") doc2
          ul.h5(href="/") doc3
        div(class="inline-div")
          p.h4(align="left") A record
          br
          textarea(type="text", id="record", style="height:200px;width:200px;font-size:10pt;").
            #{record}
          p.h5 IPv4 address. Enter multiple addresses on separate lines.
          ul.h5 Example:
          ul.h5 192.0.2.23
          ul.h5 198.51.100.234
          button.btn.btn-default(type='submit', onclick="onRecordClick()") Submit Record

        div(class="inline-div")
          p.h4(align="center") Code
          br
          textarea(type="text", id="code", style="height:200px;width:300px;font-size:10pt;").
            #{code}
          br
          p.h5 Examples:
          select(id="codeExamples", class="optgroup", onchange="onChange();") Examples
            option.h5(value="noop" selected) No-op
            option.h5(value="random") Random
            option.h5(value="latency") Latency-based
          br
          br
          button.btn.btn-default(type='submit', onclick="onCodeClick()") Submit Code