//
   Created by gaozy on 12/14/16.

extends layout

block content
  .container
    div(class="nav")
      ul
        li(style="float:left;")
          a(href="/") Test Your Active Code
    ul(style="columns:2")
        form(class="form-style-7")
          ul
            li
                label() Value(JSON)
                input(type="text" id="value")
                span The json value passed into function 'run'
            li
                label Querier Value(JSON)
                input(type="text" id="qvalue")
                span The json value passed into querier
            li
                label Accessor (String)
                input(type="text" id="accessor")
                span Accessor GUID
        form(class="form-style-7")
          ul
            li
                label Active Code(Javascript)
                textarea(id="code",onkeyup="adjust_textarea(this)").
                  #{code}
                span function 'run(value, accessor, querier)' must be implemented
            button.btn.btn-default(type='submit' onclick="onTestClick()" style="float: right;") Run