body {
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
}


nav {
  margin: 0 0 0 0;
  font-size: 100%;
  width: 100%;
  overflow: hidden;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00b7ff;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00c6ee;
}

.navigation {
  display:inline-block;
  float: left;
  padding: 10px;
}

.inline-div {
  display:inline-block;
  float: left;
  padding: 30px;
  border-left: 1px solid #000000;
  white-space: pre;
}

hr {
  border: none;
  height: 4px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.right {
  text-align: right;
  float: right;
}

.optgroup {
  font-size:14px;
}