//
   Created by gaozy on 12/15/16.

extends ../template/simple

block content
    .container
        h1 ActivePNS: A programmable managed DNS service
        hr
        br
        div(style="font-family: 'Raleway',sans-serif; padding:5px;")
            h3 Q1.What is DNS?
            p
                |DNS serves as the “phone book” for the Internet: it maps domain names like pnsanonymous.org,
                | to a numeric Internet Protocol (IP) addresses like 52.37.209.19.
                | Every device that sends or receives data on the Internet has a unique IP address,
                | which the Internet’s routing software and hardware use to identify and locate the device.
                | DNS is what makes it possible for users to access a website by human-readable name,
                | which is easier for most people to remember than a numeric string in an IP address.
            h3 Q2.What is ActivePNS?
            p
                |ActivePNS is a programmable managed DNS service that allows you to write your own code
                | to control the DNS response for your domain name.
            p
                |Similar to the other managed DNS services, such as
                a(href="https://aws.amazon.com/route53/")
                    font(color="red")  Amazon Route 53,
                a(href="http://dyn.com/dns/")
                    font(color="blue") DynDNS,
                a(href="http://www.dnsmadeeasy.com/")
                    font(color="green") DNSMadeEasy
                | ,you could set up your A record with multiple IPv4 addresses.
            p
                | Besides, you could also write your own code (in Javascript) to control the DNS response for your domain. See
                a(href="/doc/activecode")  how
                |  with ActivePNS.

            h3 Q3.Why programmability?
            p.
                Writing your own code to control your DNS response gives you more freedom than a configurable scheme.
            p
                |For example, with a
                font(color="red")  configurable
                |  managed DNS service, you could choose a high-level routing policy such as weighted, and geolocation, see
                a(href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html")  examples of Route 53
                |  for more information.
            p
                | While, with our
                font(color="red") programmable
                |  managed DNS service, you could specify a more sophisticated routing policy to improve your service performance or save your cost. See
                a(href="#")  more examples
                |  of active code.
            h3 Q4.How it works?
            p
                |As shown in the figure, our DNS server serves all DNS requests for the domain name ends with "pnsanonymous.org".
            ul
                li The DNS request is first translated to a PNS request.
                li PNS fetch your A record and code from DB then run the code on ActivePNS.
                li After executing the code, the response is sent back through the DNS server.

            img(src="../images/arch.png", style="width:50%;height:50%;")